<mat-card class="list-card">
  <mat-card-title class="title">Overkill Todo List </mat-card-title>
  <mat-selection-list>
    <ng-container *ngFor="let todo of UndoneTodoList">
      <mat-list-option checkboxPosition="before" [selected]="todo.isDone" (click)="OnClickToggleTodo(todo.id)">
        {{ todo.name }}
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
  <mat-selection-list>
    <ng-container *ngFor="let todo of DoneTodoList">
      <mat-list-option
        class="done"
        checkboxPosition="before"
        [selected]="todo.isDone"
        (click)="OnClickToggleTodo(todo.id)"
      >
        {{ todo.name }}
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
</mat-card>
